<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @practice.game %>
</p>

<p>
  <strong>Score:</strong>
  <%= @practice.score %>
</p>

<%= link_to 'Edit', edit_practice_path(@practice) %> |
<%= link_to 'Back', practices_path %>
